.content-list
  ul#cbp-ntaccordion.cbp-ntaccordion
    li
      h3.cbp-nttrigger Громадянам
      .cbp-ntcontent
        p Послуги для громадян (фізичних осіб)
        ul.cbp-ntsubaccordion
          li
            h4.cbp-nttrigger.row 
              .col-xs-3.col-sm-2
               img(src="images/icon_police.png")
              .col-xs-9.col-sm-10
               | Поліція
            .cbp-ntcontent
              ul
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Надання витягу з Єдиного державного реєстру МВС
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Перереєстрація транспортного засобу на нового власника за договором купівлі-продажу
          li
            h4.cbp-nttrigger.row 
              .col-xs-3.col-sm-2
               img(src="images/icon_socialhelp.png")
              .col-xs-9.col-sm-10
               | Соціальна допомога
            .cbp-ntcontent
              ul
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Отримання субсидії на оплату житлово-комунальних послуг
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Видача довідок про отримання/неотримання усіх видів державних соціальних допомог.
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Видача посвідчень інвалідам з дитинства та дітям інвалідам, особам, які не мають права на пенсію та інвалідам
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Призначення державної соціальної допомоги малозабезпеченим сім’ям
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Призначення державної соціальної допомоги інвалідам з дитинства та дітям-інвалідам віком до 18 років
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Призначення допомоги на дітей одиноким матерям
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Призначення допомоги на дітей, які перебувають під опікою чи піклуванням
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Призначення допомоги на дітей-сиріт та дітей, позбавлених батьківського піклування та грошового забезпечення прийомним батькам
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Призначення допомоги при усиновленні дитини
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Призначення допомоги у зв'язку з вагітністю та пологами
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Призначення компенсаційної виплати непрацюючій працездатній особі, яка доглядає за інвалідом І групи, а також за престарілим, який досяг 80-річного віку
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Призначення надбавки на догляд за інвалідом з дитинства або дитиною-інвалідом

                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Призначення одноразової винагороди жінкам, яким присвоєно почесне звання "Мати-героїня
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Призначення соціальної допомоги особам, які не мають права на пенсію, та інвалідам
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Призначення тимчасової державної допомоги дітям, батьки яких ухиляються від сплати аліментів, не мають можливості утримувати дитину або місце проживання їх невідоме
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Щомісячна грошова допомога особі, яка проживає разом з інвалідом I чи II групи внаслідок психічного розладу, який за висновком лікарської комісії медичного закладу потребує постійного стороннього догляду, на догляд за ним
          li
            h4.cbp-nttrigger.row 
              .col-xs-3.col-sm-2
               img(src="images/icon_home.png")
              .col-xs-9.col-sm-10
               | Будівництво, нерухомість, земля
            .cbp-ntcontent
              ul
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Надання витягу з технічної документації про нормативну грошову оцінку земельної ділянки
          li
            h4.cbp-nttrigger.row 
              .col-xs-3.col-sm-2
               img(src="images/icon_cart.png")
              .col-xs-9.col-sm-10
               | Посвідчення особи, Громадянство, Місце проживання
            .cbp-ntcontent
              ul
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Реєстрація місця проживання особи (із опцією одночасного зняття з реєстрації з попереднього місця)

          li
            h4.cbp-nttrigger.row 
              .col-xs-3.col-sm-2
               img(src="images/icon_interaction.png")
              .col-xs-9.col-sm-10
               | Взаємодія з державними органами
            .cbp-ntcontent
              ul
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Довідка з попередніх місць проживання (після 1992 року) про період реєстрації (прописки)
          li
            h4.cbp-nttrigger.row 
              .col-xs-3.col-sm-2
               img(src="images/icon_fam.png")
              .col-xs-9.col-sm-10
                | Родина
            .cbp-ntcontent
              ul
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Заява на видачу повторного свідоцтва про зміну імені

          li
            h4.cbp-nttrigger.row 
              .col-xs-3.col-sm-2
               img(src="images/icon_doc.png")
              .col-xs-9.col-sm-10
               | Реєстраційні дані
            .cbp-ntcontent
              ul
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Отримання відомостей з Державного реєстру речових прав на нерухоме майно
    li
      h3.cbp-nttrigger Бізнесу
      .cbp-ntcontent
        p Послуги для бізнесу (юридичних осіб)
        ul.cbp-ntsubaccordion
          li
            h4.cbp-nttrigger.row 
              .col-xs-3.col-sm-2
               img(src="images/icon_home.png")
              .col-xs-9.col-sm-10
               | Будівництво, нерухомість, земля
            .cbp-ntcontent
              ul
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Реєстрація авто з пробігом в МРЕВ
          li
            h4.cbp-nttrigger.row 
              .col-xs-3.col-sm-2
               img(src="images/icon_geology.png")
              .col-xs-9.col-sm-10
                | Геологія
            .cbp-ntcontent
              ul
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Реєстрація авто з пробігом в МРЕВ
          li
            h4.cbp-nttrigger.row 
              .col-xs-3.col-sm-2
               img(src="images/icon_environment.png")
              .col-xs-9.col-sm-10
                | Довкілля
            .cbp-ntcontent
              ul
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Реєстрація авто з пробігом в МРЕВ
          li
            h4.cbp-nttrigger.row 
              .col-xs-3.col-sm-2
               img(src="images/icon_finance.png")
              .col-xs-9.col-sm-10
               | Зовнішньо-економічна діяльність та іноземні інвестиції
            .cbp-ntcontent
              ul
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Реєстрація авто з пробігом в МРЕВ
          li
            h4.cbp-nttrigger.row 
              .col-xs-3.col-sm-2
               img(src="images/icon_medicine.png")
              .col-xs-9.col-sm-10
                | Медицина
            .cbp-ntcontent
              ul
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Реєстрація авто з пробігом в МРЕВ
          li
            h4.cbp-nttrigger.row 
              .col-xs-3.col-sm-2
               img(src="images/icon_doc.png")
              .col-xs-9.col-sm-10
               | Реєстраційні дані
            .cbp-ntcontent
              ul
                li
                  h5.cbp-nttrigger
                    a(href='/single.html')
                      | Реєстрація авто з пробігом в МРЕВ