footer
  section.bg-footer
  section.footer
    .container
      ul.nav.nav-tabs.nav-justified
        li: a(href="index.html") Головна
        li: a(href="index.html") Пошук послуги
        li: a(href="status.html") Статус
        li: a(href="help.html") Допомога
        li: a(href=""): img.logo(src="./images/kmda.png")
p#back-top
  a(href="#top")
    span


script(src='/js/lib.js')
script(src='http://cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js')
script(src='https://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.js')
script(src='/js/main.js')
