doctype html
html(lang="ua")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Державні послуги Києва
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
    //- link(href="http://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(href="http://cdn.rawgit.com/FezVrasta/dropdown.js/master/jquery.dropdown.css" rel="stylesheet")
    link(rel="stylesheet" href='css/styles.css')
  body
    //- header
    //-   nav(role="navigation").navbar.navbar-default.navbar-fixed-top
    //-     .container
    //-       .navbar-header
    //-         button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
    //-           span.sr-only Toggle navigation
    //-           span.icon-bar
    //-           span.icon-bar
    //-           span.icon-bar
    //-         a(href="#" ).navbar-brand Державні послуги 
    //-           span.hidden-xs.hidden-sm Києва
    //-       .navbar-collapse.collapse.navbar-ex1-collapse.text-center
    //-         ul.nav.navbar-nav.center
    //-           li: a(href="/index.html") Послуги
    //-           li: a(href="/status.html") Статус
    //-           li: a(href="/help.html") Допомога
    //-           li.visible-xs: a(href="#") Пошук
    //-         button.btn.btn-fab.btn-fab-mini(type='button')
    //-           i.fa.fa-search