section.search
  .container
    h1.text-center ДЕРЖАВНІ ПОСЛУГИ ОНЛАЙН
    .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
      form
        //- .form-group.label-floating
        //-   label(for="focusedInput1").control-label Пошук послуги
        //-   input(type="text")#focusedInput1.form-control  
          //- a(href="bootstrap-elements.html" data-target="#" data-toggle="dropdown").btn.btn-raised.dropdown-toggle Обрати установу
          //-   span.caret
          //- ul.dropdown-menu
          //-   li: a(href="javascript:void(0)") Dropdown link
          //-   li: a(href="javascript:void(0)") Dropdown link
          //-   li: a(href="javascript:void(0)") Dropdown link
        .form-group.label-floating
          label.control-label(for='addon2') Пошук послуги
          .input-group.text-center
            input#addon2.form-control(type='text')
            span.input-group-btn
              button.btn.btn-default.btn-raised(type='button') Знайти
              //- button.btn.btn-fab.btn-fab-mini(type='button')
              //-   i.fa.fa-search
