section.search
  .container
    h1.text-center ДЕРЖАВНІ ПОСЛУГИ ОНЛАЙН
    .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
      form
        .form-group.label-floating
          label.control-label(for='addon2') Пошук послуги
          .input-group.text-center
            input#addon2.form-control(type='text')
            span.input-group-btn
              a(href="/searchresult.html").btn.btn-primary.btn-raised Знайти