include ./templates/header.jade
include ./templates/search2.jade
//- section.search
//-   .container
//-     h1.text-center Пошук послуг
//-     .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
//-       form
//-         .form-group.label-floating
//-           label.control-label(for='addon2') 
//-           .input-group.text-center
//-             input#addon2.form-control(type='text')
//-             span.input-group-btn
//-               button.btn.btn-primary.btn-raised(type='button') Знайти

section
  .container.content-list
      ul
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Отримання субсидії на оплату житлово-комунальних послуг
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Видача довідок про отримання/неотримання усіх видів державних соціальних допомог.
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Видача посвідчень інвалідам з дитинства та дітям інвалідам, особам, які не мають права на пенсію та інвалідам
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Призначення державної соціальної допомоги малозабезпеченим сім’ям
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Призначення державної соціальної допомоги інвалідам з дитинства та дітям-інвалідам віком до 18 років
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Призначення допомоги на дітей одиноким матерям
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Призначення допомоги на дітей, які перебувають під опікою чи піклуванням
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Призначення допомоги на дітей-сиріт та дітей, позбавлених батьківського піклування та грошового забезпечення прийомним батькам
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Призначення допомоги при усиновленні дитини
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Призначення допомоги у зв'язку з вагітністю та пологами
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Призначення компенсаційної виплати непрацюючій працездатній особі, яка доглядає за інвалідом І групи, а також за престарілим, який досяг 80-річного віку
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Призначення надбавки на догляд за інвалідом з дитинства або дитиною-інвалідом

        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Призначення одноразової винагороди жінкам, яким присвоєно почесне звання "Мати-героїня
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Призначення соціальної допомоги особам, які не мають права на пенсію, та інвалідам
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Призначення тимчасової державної допомоги дітям, батьки яких ухиляються від сплати аліментів, не мають можливості утримувати дитину або місце проживання їх невідоме
        li
          h5.cbp-nttrigger
            a(href='/single.html')
              | Щомісячна грошова допомога особі, яка проживає разом з інвалідом I чи II групи внаслідок психічного розладу, який за висновком лікарської комісії медичного закладу потребує постійного стороннього догляду, на догляд за ним
           
include ./templates/footer.jade