include ./templates/header.jade
section
  .container.text-center
    h2 Назва послуги яку обрав користувач
    h3 Установа що надає послугу

  
  include ./templates/loginbtns.jade

  .container
    .list-group-item
      span.ng-binding Ви увійшли як Тарас Григорович Шевченко
      span.pull-right: a(href="#") Змінити
      form.form-horizontal
        fieldset 
          .form-group
            label.col-md-2.control-label(for='inputLastName') Ваше прізвище:
            .col-md-10
              input#inputLastName.form-control(type='text' placeholder='Шевченко' disabled)
          .form-group
            label.col-md-2.control-label Ваше ім'я:
            .col-md-10
              .form-control-static Тарас
          .form-group
            label.col-md-2.control-label(for='inputSurName') По батькові:
            .col-md-10
              input#inputSurName.form-control(type='text' placeholder='Григорович' )
          .form-group
            label.col-md-2.control-label(for='inputDateBorn') Ваша дата народження:
            .col-md-10
              input#inputDateBorn.form-control(type='text' placeholder='25.09.1814' )
          .form-group
            label.col-md-2.control-label Паспортні дані
            .col-md-10
              .form-control-static український поет, письменник 
                br 
                | (драматург, прозаїк),
                br 
                | художник (живописець, гравер),
                br 
                | громадський та політичний діяч.
          .form-group
            label.col-md-2.control-label(for='textArea') Паспортні дані
            .col-md-10
              textarea#textArea.form-control(rows='3') український поет, письменник (драматург, прозаїк), художник (живописець, гравер), громадський та політичний діяч.
              span.help-block
              | A longer block of help text that breaks onto a new line and may extend beyond one line.
          .form-group
            .col-md-10.col-md-offset-2
              button.btn.btn-default(type='button') Cancel
              button.btn.btn-primary(type='submit') Submit

include ./templates/footer.jade