include ./templates/header.jade
section
  .container.text-center
    .col-md-12
      h1 Заявки
      p На цій сторінці Ви можете переглянути статус по своїй заявці за її номером.
    .col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3
      form
        .form-group
          .input-group
            span.input-group-addon Номер
            input#addon1.form-control(type='text')
            span.input-group-btn
              button.btn.btn-primary(type='button') Переглянути
  
  .container
    .well
      h5 Назва: 
      table.table
        thead
          tr
            th.col-sm-4
              p Час
            th.col-sm-8
              p Статус
        tbody
          tr
            td
            td  - new

  include ./templates/loginbtns.jade


include ./templates/footer.jade